.Homepage,
.Credit,
.Savory,
.Desserts,
.SushiHomepage,
.LasagnaHomepage,
.FriedChickenHomepage,
.CreditSushi,
.LasagnaCredit,
.FriedChickenCredit,
.SushiRolls,
.LasagnaPlating,
.FriedChickenPlating,
.SushiIngredients,
.LasagnaIngredients,
.FriedChickenIngredients,
.SushiDirections,
.LasagnaDirections,
.FriedChickenDIrections
{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     margin-top: 40px;
     margin-bottom: 40px;
}
.Michelin,
.SushiRolls,
.LasagnaPlate,
.FriedChickenPlate
{
    display: block;
    margin: auto;
}
.Credit,
.CreditSushi,
.LasagnaCredit,
.FriedChickenCredit
{
    font-size: 15px;
    margin-top: 10px;
}
.SushiRedirect,
.LasagnaRedirect,
.FriedChickenRedirect
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.FirstList,
.SecondList
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
}
.su,
.la,
.fc,
.kb,
.sc,
.cr
{
    display: inline;
    font-size: 25px;
    margin: 21.440px;
}
.SushiDescription,
.LasagnaDescription,
.FriedChickenDescription
{
    padding-left: 560px;
    padding-right: 560px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.SushiDirectionsList,
.LasagnaDirectionsList,
.FriedChickenDirectionsList
{
    list-style-type: none;
}
.SushiSteps,
.LasagnaSteps,
.FriedChickenSteps
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 500px;
    padding-right: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.SushiImages,
.LasagnaImages,
.FriedChickenImages
{
    padding-left: 500px;
}
.SushiIngredientsList,
.LasagnaIngredientsList,
.FriedChickenIngredientsList
{
    padding-left: 560px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
}


