.Homepage,
.Credit,
.Savory,
.Desserts,
.SushiHomepage,
.LasagnaHomepage,
.FriedChickenHomepage,
.KoreanBBQHomepage,
.StrawCheeseHomepage,
.CreditSushi,
.LasagnaCredit,
.FriedChickenCredit,
.KoreanBBQCredit,
.StrawCheeseCredit,
.SushiRolls,
.LasagnaPlating,
.FriedChickenPlating,
.KoreanPlating,
.StrawCheesePlating,
.SushiIngredients,
.LasagnaIngredients,
.FriedChickenIngredients,
.KoreanIngredients,
.StrawCheeseIngredients,
.SushiDirections,
.LasagnaDirections,
.FriedChickenDirections,
.KoreanDirections,
.StrawCheeseDirections
{
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     margin-top: 40px;
     margin-bottom: 40px;
}
.StrawCheeseCrust,
.StrawCheeseFilling
{
     padding-left: 557px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     margin-top: 40px;
     margin-bottom: 40px;
}
.Michelin,
.SushiRolls,
.LasagnaPlate,
.FriedChickenPlate,
.KoreanBBQPlate,
.StrawCheesePlate
{
    display: block;
    margin: auto;
}
.Credit,
.CreditSushi,
.LasagnaCredit,
.FriedChickenCredit,
.KoreanBBQCredit,
.StrawCheeseCredit
{
    font-size: 15px;
    margin-top: 10px;
}
.SushiRedirect,
.LasagnaRedirect,
.FriedChickenRedirect,
.KoreanBBQRedirect,
.StrawCheeseRedirect
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.FirstList,
.SecondList
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 0;
}
.su,
.la,
.fc,
.kb,
.sc,
.cr
{
    display: inline;
    font-size: 25px;
    margin: 21.440px;
}
.SushiDescription,
.LasagnaDescription,
.FriedChickenDescription,
.KoreanDescription,
.StrawCheeseDescription
{
    padding-left: 560px;
    padding-right: 560px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.SushiDirectionsList,
.LasagnaDirectionsList,
.FriedChickenDirectionsList,
.KBBQDirectionsList,
.StrawCheeseDirectionsList
{
    list-style-type: none;
}
.SushiSteps,
.LasagnaSteps,
.FriedChickenSteps,
.KBBQSteps,
.StrawCheeseSteps
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 500px;
    padding-right: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.SushiImages,
.LasagnaImages,
.FriedChickenImages,
.KBBQImages,
.StrawCheeseImages
{
    padding-left: 500px;
}
.SushiIngredientsList,
.LasagnaIngredientsList,
.FriedChickenIngredientsList,
.KoreanIngredientsList,
.StrawCheeseCrustIngredientsList,
.StrawCheeseFillingIngredientsList
{
    padding-left: 560px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style-type: none;
}

